.b-parameters {
	padding: 20px;
}
.b-parameters-fieldset {
	margin: 0 0 20px;
}
.b-parameters-fieldset-title {
	margin: 0 0 10px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
}
.b-parameters-fieldset-subtitle {
	margin: 0 0 10px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
}
.b-parameters-fieldset-field {
	display: flex;
	max-width: 900px;
	margin: 0 0 10px;
}
.b-parameters-fieldset-field-title {
	flex-grow: 1;
	min-width: 200px;
	font-size: 16px;
	line-height: 40px;
}
.b-parameters-fieldset-field-group {
	display: flex;
	overflow: hidden;
	margin: 0 20px;
	border-radius: 6px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.5);
}
.b-parameters-fieldset-field-item {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-left: 1px solid #f1f1f1;
}
.b-parameters-fieldset-field-item.for_text,
.b-parameters-fieldset-field-item.for_select {
	width: 80px;
}
.b-parameters-fieldset-field-item:first-child {
	border-left: 0;
}
.b-parameters-fieldset-field-item span {
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
	line-height: 40px;
	font-family: dashicons;
}
.b-parameters-fieldset-field-item.type_1 span::before {
	content: "\f147";
	font-size: 24px;
	color: #477a3a;
}
.b-parameters-fieldset-field-item.type_2 span::before {
	content: "\f147";
	font-size: 24px;
	color: #dd8236;
}
.b-parameters-fieldset-field-item.type_3 span::before {
	content: "$";
	font-size: 16px;
	font-family: sans-serif;
}
.b-parameters-fieldset-field-item.type_4 span::before {
	content: "\f335";
	font-size: 24px;
	color: #bf0c18;
}
.b-parameters-fieldset-field-item.type_5 span::before {
	content: "?";
	font-size: 16px;
	font-family: sans-serif;
}
.b-parameters-fieldset-field-item.type_6 span::before {
	content: "∞";
	font-size: 20px;
	font-family: sans-serif;
	color: #477a3a;
}
.b-parameters-fieldset-field-item input[type="radio"] {
	display: none;
}
.b-parameters-fieldset-field-item input[type="text"] {
	margin: 0;
	padding: 0;
	width: 80px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	border: 0 !important;
	box-shadow: none !important;
}
.b-parameters-fieldset-field-item select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0 20px 0 10px;
	width: 80px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border: 0 !important;
	box-shadow: none !important;
}
.b-parameters-fieldset-field-item.for_select::after {
	content: "";
	border-color: #000 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	right: 10px;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 20px;
	width: 0;
}
.b-parameters-fieldset-field-item input[type="radio"]:checked + span {
	background: #c9e8bd;
}
.b-parameters-fieldset-field-item.type_4 input[type="radio"]:checked + span {
	background: #ffb4b2;
}
.b-parameters-fieldset-field-item.type_5 input[type="radio"]:checked + span {
	background: #c5f1fc;
}
.b-parameters-fieldset-field-comment {
	flex-grow: 2;
	margin: 0;
	padding: 0 10px;
	line-height: 40px;
	background: #fff;
	border: 0 !important;
	border-radius: 6px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.5) !important;
}